@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,500,700,800);
@import url(http://fonts.googleapis.com/css?family=Lobster);

/* ---------------------------------------------- /*
 * Typography
/* ---------------------------------------------- */

p {
	font: 300 14px/1.8 'Raleway', sans-serif;
	color: #666;
	overflow-x: hidden;
}



h1, h2, h3, h4, h5, h6 {
	font: 700 40px/1.2 Raleway, sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin: 5px 0 5px;
	color: #222;
}



h2 {
	font-size: 30px;
	margin: 0 0 30px;
}

h3 {
	font-size: 13px;
	letter-spacing: 1px;
	margin: 0 0 5px;
}

h4 {
	font-size: 12px;
	letter-spacing: 1px;
}

h5 {
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 400;
}

h6 {
	font-size: 11px;
	letter-spacing: 1px;
	font-weight: 400;
}








/*Nav Bar 

*/


#navigation {
	border-bottom: 1px solid #f5f5f5;
	background-color: black;
    padding: 10px 5px;
    z-index: 100;
    width: 100%;
}

#navigation li {
	padding: 0 10px;
}

#navigation li a {
	
	font-size: 11px;
	letter-spacing: 3px;
	color: rgb(134, 113, 192);
}

.navbar-brand,
.navbar-brand:hover {
	color: rgb(255, 255, 251);
	text-transform: uppercase;
	font-family: Lobster, cursive;
	letter-spacing: 2px;
}

.navbar-toggler-icon {
	background: url(../img/icons/menu.png);
	background-size: 100%;
}

.fixedNav #navigation {
	position: fixed;
	top: 0;
}









/* Contact Form*/


.ajax-response {
	text-align: center;
}





/* About Us Area */

.section-padding-120 {
    padding-top: 70px;
    padding-bottom: 50px;
}

.section-heading-line {
    width: 50px;
    height: 2px;
    background-color: rgb(185, 192, 189);
	margin: 0 auto;
	margin-bottom: 10px;
}


.bg-gray {
    background-color: #f9f9f9;
}


.about .cover {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px gainsboro;
	border-radius: 3px;
	
}

.about .cover .a-text{
	padding-right: 120px;
	padding-top: 70px;
}


.fplus-about-us-area .about-us-text p {
    margin-bottom: 0;
}

.aboutbox {
    padding: 30px 30px 25px;
    background-color: rgb(255, 255, 255);
    margin-top: 70px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.boxtext {
    margin-bottom: 25px;
}

.boxtext > h5 {
    margin-bottom: 0;
    color: #c91d10;
}

.aboutbox > p {
    margin-bottom: 0;
    font-size: 14px;
}





/*Skills*/

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation a.prev,
.slides-navigation a.next {
	width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation a.prev {
	left: 20px;
	background-image: url("../images/icons/prev.png");
}

.slides-navigation a.next {
	right: 20px;
	background-image: url(../images/icons/next.png);
}




.titleMessage {
	position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}

.titleMessage .heading p {
	color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px;
}

.titleMessage .heading .main {
	font-size: 50px;
	
}

.titleMessage .heading .sub {
	font-size: 23px;
	font-family: cursive;
	
}







.section {
	padding: 100px 0;
}

.aboutImage {
	max-width: 60%;
}

.skillsSection {
	background-color: #ecf0f1;
	background-size: cover;
	background-repeat: no-repeat;
	color: #070606;
}

.skill {
	text-align: center;
	margin-left: 10px;
	margin-bottom: 10px;
	
	
}

.tech h2{
	font-weight: 800;
	
	font-family: Raleway, "Courier New", Courier, monospace;
	font-style: normal;
}

.tech p {
	font-family: Raleway, "Times New Roman", Times, sans-serif;
	font-style: normal;
	font-size: 18px;
}
.chart {
	position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas {
	position: absolute;
    left: 0;
    top: 10;
}

.chart .percent {
	color:#070606;
    line-height: 142px;
    display: inline-block;
	font-size: 20px;
	font-family: Raleway, "Times New Roman", Times, sans-serif;
	font-style: normal;
	
}

.chart .percent:after {
	content: '%';
}



.pfblock-header {
	text-align: center;
	margin: 0 0 60px;
}

.pfblock-header-left {
	text-align: left;
}

.pfblock-header-left .pfblock-line {
	width: inherit;
	margin: 30px 0;
}

.pfblock-title{
    font-weight: 800;
}

.pfblock-subtitle {
	font-family: Raleway, "Times New Roman", Times, sans-serif;
	font-style: normal;
	font-size: 18px;
}

.pfblock-line {
	background: rgba(135, 135, 135, 0.5);
	width: 100px;
	height: 1px;
	margin: 30px auto;
}

.pfblock-icon {
	font-size: 32px;
}





/* Contact Area CSS */

.fplus-contact-area {
    position: relative;
    z-index: 1;
    min-height: 237.5px;
}

.contact_from {
    background-color: #fff;
    padding: 80px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 99;
    top: 0;
}

#googleMap {
    width: 100%;
    height: 300px;
}

.contact_input_area .form-group .form-control {
    padding: 10px 0;
    line-height: 1;
    border: none;
    border-bottom: 1px solid #959595;
    border-radius: 0;
    font-size: 12px;
    color: #959595;
    font-weight: 300;
}

.contact_input_area .form-group textarea.form-control {
    height: 100px;
}

.contact_input_area .form-group .form-control:active,
.contact_input_area .form-group .form-control:focus {
    box-shadow: none;
    border-bottom: 1px solid #000000;
    color: #000000;
}

.contact_input_area button {
    width: 200px;
    height: 50px;
    background-color: rgb(49, 37, 80);
    color: #fff;
    font-size: 12px !important;
    text-transform: uppercase;
    line-height: 50px;
    padding: 0 !important;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 0 !important;
    margin-top: 50px;
}






















































































































